<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
</head>
<body>
<h2>상품 상세</h2>
<hr>
<form th:action="@{/product/update/{id}(id=${product.productId})}" method="post" th:object="${product}">

    상품ID<input type="text" th:value="*{productId}" readonly><br>
    상품명<input type="text" th:field="*{name}" ><br>
    상품가격<input type="text" th:field="*{price}" ><br>
    재고수량<input type="text" th:field="*{quantity}" readonly  >
    <button type="submit" >수정</button>
</form>

</body>
</html>